// Intro
.intro {
	@include grid-row();

	.fp-intro {

		@include breakpoint(small) {
			@include grid-column(12);
		}

		@include breakpoint(medium) {
			@include grid-column(10);
			@include grid-column-offset(1);

			h2 {
				font-weight: 300;
				margin-bottom: 1.5rem;
			}

			h4 {
				font-size: 1.125rem;
				line-height: 1.6;
				color: #3F47CC;
		    margin-bottom: 0.1rem;
			}

		}
	}
}

// Section divider
.section-divider {
	@include grid-row();

	hr {
		@include grid-column(12);
		@extend .dotted;
		box-sizing: border-box;
	}
}


// Benefits
.benefits {
	@include grid-row();
	text-align: center;

	header {
		@include grid-column(12);

		h2 {
			font-weight: 300;
		}

		h4 {
			font-size: 1.125rem;
			line-height: 1.6;
			color: #777;
		}
	}

	.semantic,
	.responsive,
	.customizable,
	.professional {
		@include breakpoint(small) {
			@include grid-column(12);
		}

		@include breakpoint(medium) {
			@include grid-column(3);
		}

		img {
			padding: 1.25rem;
    	margin: 1rem auto 0 auto;
		}

		h3 {
			color: #0a0a0a;
			font-weight: 300;
			font-size: 1.75rem;
		}

		p { font-size: 0.9375rem; }

	}

	.why-foundation {
		@include grid-row();
		@include grid-column(12);
		margin-top: 4rem;
	}

}
