// Generic fonts
p {
    line-height: 1.2;
    margin-bottom: 1rem;
    text-rendering: optimizeLegibility;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', Arial;
    font-weight: 400;
	font-size: 1.2rem;
}
